{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/guest.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body class="bg-white text-black">
    <div class="flex flex-col min-h-screen">
        <!-- Header with login button -->
        <header class="bg-gradient-to-r from-gray-700 to-gray-600 text-white p-5 mb-5 shadow-lg">
            <div class="flex justify-between items-center">
                <h1 class="text-4xl font-bold">Dashboard</h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="px-4 py-2 bg-red-500 text-white rounded-full hover:bg-red-600 transition duration-300">Đăng xuất</a>
                {% else %}
                    <a href="{% url 'login' %}" class="button">Đăng nhập</a>
                {% endif %}
            </div>
        </header>

        <!-- Product List (Guest View) -->
        <div class="mt-5 px-5">
            <h2 class="text-3xl font-bold mb-3 text-gray-600">Danh mục Sản phẩm</h2>
            
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for product in top_rated_products %}
                    <div class="product-card p-5 bg-white shadow-lg rounded-lg">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/default-image.jpg' %}{% endif %}" alt="{{ product.name }}" class="w-full h-48 object-cover rounded-lg">
                        <h3 class="text-lg font-semibold mt-3 text-black">{{ product.name }}</h3>
                        <p class="text-gray-700 text-sm">{{ product.description|truncatechars:50 }}</p>
                        <p class="price text-black">{{ product.price|format_vnd }}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'product_detail' product.id %}" class="text-blue-500 underline">Xem chi tiết</a>
                        {% else %}
                            <p class="text-gray-400 text-sm">Để xem chi tiết, vui lòng <a href="{% url 'login' %}" class="text-blue-500 underline">đăng nhập</a>.</p>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>Không có sản phẩm nào.</p>
                {% endfor %}
            </div>

        </div>
    </div>
</body>

</html>
