/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: #fdfdfd;
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  background-size: cover;
}

/* Header */
/* Định dạng lại header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #ff8800;
  text-decoration: none;
  padding-left: 8px;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav a:hover {
  background-color: #ff8800;
}

/* Chỉnh nút "Nạp tiền" */
.button-container {
  display: flex;
  align-items: center;
}

.naptien-btn {
  background-color: #ff8800;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.naptien-btn:hover {
  background-color: #ff6600;
}

/* Profile Container */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-box {
  background-color: rgba(255,255,2550.0.5);
  padding: 50px;
  border-radius: 12px;
  border-color: #fff;
  text-align: center;
  width: 500px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: rgba(255, 255, 255, 0.5);
}
.profile-header h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

/* Info Box */
.info-box h4 {
  font-size: 18px;
  border-bottom: 2px solid cornsilk;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.info-box p {
  font-size: 16px;
  margin: 5px 0;
}

/* Balance Box */
.balance-box p {
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 174, 0);
}

/* Buttons */
.update-button, .logout-button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.update-button {
  background-color: #ff9800;
  color: #000;
}
.update-button:hover {
  background-color: #e68a00;
}
.logout-button {
  background-color: #ff3333;
  color: #fff;
  margin-top: 10px;
}
.logout-button:hover {
  background-color: #cc0000;
}

/* Footer */
.footer-area {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  border-top: 2px solid #ff9800;
}
