body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  border-radius: 3%;
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button.btn {
  background-color: #3a792d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button.btn:hover {
  background-color: #729642;
}

.back-link {
  text-align: center;
  margin-top: 10px;
}

.back-link a {
  color: #4e4e4e;
  text-decoration: none;
}

.back-link a:hover {
  text-decoration: underline;
}

#avatar-preview {
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  object-fit: cover;
}
